---
title: API Docs
---

{% assign sorted_collections = site.collections | sort: "position" %}
{% for collection in sorted_collections %}	
	{% assign sorted_docs = collection.docs | sort: "position" %}
	{% for doc in sorted_docs %}
		{% assign rounded_position = doc.position | round %}

		<section class="doc-content">
			<section class="left-docs">
				{% if collection.position != 1 and doc.position == 1 %}
					<h1>
						<a id="{% if doc.position == 1  %}{{ doc.id | replace: '/', '' | replace: '.', '' }}{% endif %}">
							{{ collection.title }}
						</a>
					</h1>
				{% endif %}
				
				<{% if rounded_position != doc.position %}h4{% else %}h3{% endif %}>
					<a id="{% if doc.position != 1 or collection.position == 1 %}{{ doc.id | replace: '/', '' | replace: '.', '' }}{% endif %}">
						{{ doc.title }}
						{% if doc.from_version %}
							<span class="version" title="Available from SDK Version {{doc.from_version}}">{{doc.from_version}}</span>
						{% endif %}

					</a>
				</{% if rounded_position != doc.position %}h4{% else %}h3{% endif %}>

				{% if doc.description %}
					{{ doc.description | markdownify | replace: '<p>', '<p class="description">' }}					
				{% endif %}

				{% if doc.parameters and doc.parameters[0].name %}
						<h6><u>Parameters</u></h6>
						<dl>
								{% for parameter in doc.parameters %}
									<dt class="code">{{ parameter.name }}</dt>
									{{ parameter.content | markdownify | replace: '<p>', '<dd>' | replace: '</p>', '</dd>' }}
								{% endfor %}
						</dl>
				{% endif %}

				{{ doc.content_markdown | markdownify | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
			</section>
		</section>
	{% endfor %}
{% endfor %}
