---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.header-logo {
  height: 80px;
}


.nav-menu {
  position: fixed;
  float: left;
  margin: 20px 40px;
  width: 220px;
}

.main-content {
  float: left;
  margin-left: 240px;
}

span.header {
  font-size: 80px;
}